@font-face {
    font-family: 'pt-sans';
    src: url('regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'pt-sans';
    src: url('bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
